shiny==1.1.0
htmltools==0.5.3
pandas==2.0.3
numpy==1.24.4
matplotlib==3.7.5
scikit-learn==1.3.2
scipy==1.11.4
imbalanced-learn==0.12.4
xgboost==2.1.4
lightgbm==4.6.0
joblib==1.4.2
requests==2.32.3
ucimlrepo==0.0.7
uvicorn==0.33.0
