shiny==1.5.0
htmltools>=0.6.0
pandas==2.2.3
numpy==2.2.6
matplotlib==3.10.3
scikit-learn==1.7.0
scipy==1.15.3
imbalanced-learn==0.13.0
xgboost==3.0.2
lightgbm==4.6.0
joblib==1.5.1
requests==2.32.3
ucimlrepo==0.0.7
uvicorn==0.34.3
setuptools>=75
wheel
